{{ partial "header" . }}

{{ partial "breadcrumb" . }}

<h1>{{ .Title }}</h1>

{{ partial "information" . }}

{{- if or .Params.ages .Params.skills }}
<div class="tags">
Tags:
{{ range $key, $tag := .Params.ages }}
{{- if ne $key 0 -}}, {{ end -}} <a href="{{ ($.Site.GetPage "ages" (urlize $tag)).Permalink }}">age {{ $tag }}</a>
{{- end -}}

{{- if .Params.ages -}}, {{ end -}}
{{ range $key, $tag := .Params.skills }}
{{- if ne $key 0 -}}, {{ end -}} <a href="{{ ($.Site.GetPage "skills" (urlize $tag)).Permalink }}">{{ $tag | lower }}</a>
{{- end -}}
</div>
{{- end -}}

{{ .Content }}

<form style="margin-top: 40px; border:1px solid #ccc;padding:24px;text-align:center;" action="https://tinyletter.com/missamanda" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/missamanda', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /></form>

{{ partial "footer" . }}
