html { background-color: transparent; }

header .intro h2 {
  font-size: 24px;
}

header .intro {
  bottom: 24px;
}

header .intro h3 {
  margin-top: 0;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  header .intro {
    bottom: inherit;
  }

  header img.rounded-logo {
    width: 64px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
  }

  header .logo-container a:link {
    border-bottom: none;
  }

  header .logo-container {
    display: inline-block;
  }

  header .intro h2 {
    font-size: 18px;
    display: inline-block;
    margin-top: 0;
  }

  header .intro h3 {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }
  .menu p {
    display: inline-block;
  }

  .socials {
    display: none;
  }
}

h2 {
  font-size: 24px;
  clear: both;
}

ul {
  margin-top: 0 !important;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

figure img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  color: #777;
  text-align: center;
  font-size: .875rem;
}

figure.border img {
  border: 1px solid #777;
}

figure.right {
  float: right;
  margin-left: 48px;
}

figure.left {
  float: left;
  margin-right: 48px;
}

span.count {
  border-radius: 500px;
  background-color: #a7a7a7;
  padding: 2px 6px;
  font-size: 75%;
  color: white;
  margin-left: 8px;
}

span.meta {
  margin-left: 8px;
  color: #888;
}

div.tags {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}

header .rounded-logo {
    width: 112px;
    height: 112px;
}

@media (max-width: 1023px) and (min-width: 768px) {
    header .intro {
        bottom: 24px;
    }
}

#content table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

#content table thead th {
  border-bottom: 2px solid #dee2e6;
}

#content table th, #content table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

#content table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

p {
  text-align: inherit;
}

form.subscribe {
  background-color: #96ccff;
  border-radius: .25rem;
  margin-top: 80px;
  border: 1px solid #ccc;
  padding: 24px;
  text-align: center;
}

form.subscribe .email {
  float: left;
  width: 80%;
  padding: 16px;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  font-size: 14px;
}

form.subscribe .submit {
  float: left;
  width: 20%;
  padding-top: 16px;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  padding-bottom: 16px;
  background-color: rgba(0,0,0,.7);
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color .15s ease-in-out;
}

form.subscribe .submit:hover {
  background: black;
}
